# PHP
/src/vendor/
.phpunit.result.cache
/src/writable

# Node
node_modules/
npm-debug.log
yarn-error.log

# Caches
/.vagrant

# Secrets
storage/*.key
shit.*
captain-magenta*.json
secret.*
/secrets
/shit*
/.env
/src/.env

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
