# PHP
/src/vendor/
.phpunit.result.cache
/src/writable

# Node
node_modules/
npm-debug.log
yarn-error.log

# Caches
/.vagrant

# Secrets
storage/*.key
.env
shit.*
captain-magenta*.json
secret.*
/secrets
/shit*

# Miscellanseous
docs/spreadsheet_wishlist.xlsx
