<?xml version="1.0" encoding="UTF-8"?>
<!-- Url Rewriting rule for deployment to IIS -->
<configuration>
  <system.web>
      <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <rule name="Rule 1 controllers" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_URI}" negate="true" pattern="^/robots\.txt$" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="public/index.php?url={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Rule 2 empty string" stopProcessing="true">
          <match url="^(?![\s\S])" />
          <action type="Rewrite" url="public/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>