<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration for deployment to the Azure App Service -->
<configuration>
  <system.web>
      <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <rule name="Controllers" stopProcessing="true">
          <match url="^(species|site|sites|square|squares|record|records)" ignoreCase="false" />
          <action type="Rewrite" url="public/index.php?url={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Assets and resources (everything else like the css and images)" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <action type="Rewrite" url="public/{R:1}" appendQueryString="false" />
        </rule>
        <rule name="Root (nothing)" stopProcessing="true">
          <match url="^(?![\s\S])" />
          <action type="Rewrite" url="public/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>
